/************
GENERAL
*************/
.favicon {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}
.hidden {
    opacity: 0;
}
:root {
    --piggyLight: rgba(255, 224, 239, 0.9);
    --piggy: #FFC5E6;
    --cupcake: #DEB5D7;
    --violets: rgba(191, 174, 227);
    --violets-light: rgba(191, 174, 227, 0.5);
    --lavander: #810DFF;
    --twisted: #6200cd;
}
a{
    color: var(--lavander);
    text-decoration: underline;
}
a:hover{
    color: var(--twisted);
}
html,body{
    overflow-x:hidden;
    max-width: 100vw;
    scroll-behavior: smooth;
    background: #a872bc;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 18px;
}
html, body {
    font-family: "Lato", sans-serif;
}
p{
    line-height: 2;
}
.menu-wrapper{
    position: sticky;
    top: 0;
    z-index: 100;
}
.menu-wrapper img{
    width: 50px;
    padding-top: 5px;
    position: absolute;
    top: 2%;
    left: 2%
}
.mega-menu{
    text-align: center;
    padding: 20px 0;
}
.mega-menu a{
    margin: 0 20px;
    text-decoration: none;
}
.hamburger-menu, .fa-solid.fa-bars{
    display: none;
}
.fixed-width-wrapper{
    display: block;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
.full-width-wrapper{
    width: 100%;
}
.full-width-wrapper .row.container{
    max-width: 1240px;
    padding: 0 40px;
}
#toTop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 60px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    padding: 15px;
    border-radius: 4px;
    line-height: 1.2rem;
}

#toTop:hover {
    background-color: #555;
    cursor: pointer;
}
/*********
THEME - FULL SCREEN
**********/
/*
full-width/height background
*/
html, body.full-screen {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2000' height='1200' preserveAspectRatio='none' viewBox='0 0 2000 1200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3crect width='2000' height='1200' x='0' y='0' fill='rgba(168%2c 114%2c 189%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c914.581C170.244%2c912.66%2c329.838%2c824.57%2c457.595%2c712.032C574.858%2c608.739%2c606.056%2c447.842%2c683.77%2c312.267C771.376%2c159.434%2c954.513%2c40.162%2c943.502%2c-135.655C932.522%2c-310.976%2c758.192%2c-425.791%2c630.023%2c-545.918C513.422%2c-655.203%2c387.156%2c-751.434%2c234.854%2c-799.84C80.172%2c-849.003%2c-93.06%2c-888.281%2c-241.643%2c-822.961C-386.152%2c-759.432%2c-439.791%2c-589.291%2c-533.327%2c-462.13C-618.387%2c-346.492%2c-720.651%2c-246.34%2c-765.978%2c-110.131C-817.778%2c45.53%2c-866.137%2c215.787%2c-810.245%2c370.027C-753.003%2c527.993%2c-603.731%2c628.714%2c-464.281%2c722.436C-322.395%2c817.795%2c-170.942%2c916.51%2c0%2c914.581' fill='%237b4491'%3e%3c/path%3e%3cpath d='M2000 2074.294C2157.441 2039.174 2254.948 1892.328 2377.592 1787.545 2482.271 1698.1100000000001 2600.57 1625.218 2666.864 1504.547 2736.376 1378.017 2757.369 1234.999 2760.441 1090.665 2763.994 923.733 2790.873 735.5029999999999 2685.997 605.58 2580.7799999999997 475.235 2392.238 452.48199999999997 2226.372 429.049 2077.822 408.063 1934.239 444.30499999999995 1788.221 478.74800000000005 1633.769 515.181 1451.025 514.36 1349.092 635.985 1247.301 757.44 1279.839 937.009 1271.5259999999998 1095.261 1263.953 1239.425 1267.3899999999999 1378.46 1302.74 1518.4279999999999 1344.751 1684.7730000000001 1361.875 1877.2440000000001 1496.029 1984.194 1632.2269999999999 2092.773 1829.996 2112.216 2000 2074.294' fill='%23ceb0da'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='2000' height='1200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
a.button{
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--cupcake);
    display: block;
    max-width: 50%;
    margin: 20px auto;
    background-color: var(--cupcake);
    text-align: center;
    font-weight: 900;
    text-decoration: none;
}
.full-screen a.button:hover{
    background: var(--twisted);
    color: var(--cupcake);
}
.full-screen .full-width-wrapper{
    min-height: 100%;
    height: 100%;
}
.full-screen .full-width-wrapper#education{
    height: fit-content;
    padding-top: 100px;
    min-height: 200%;
}
.full-screen .full-width-wrapper#awards{
    height: fit-content;
    min-height: 180%;
    padding-top: 100px;
}
footer{
    padding: 10px;
    background: url("/assets/images/Sprinkle.svg");
    text-align: center;
    color: #F2F0EF;
}
footer a{
    color: #fffefe;
}
footer a:hover{
    color: #c8c8c8;
}
/*
Menu
*/
.full-screen .menu-wrapper{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.full-screen .mega-menu a {
    font-weight: 900;
    color: var(--lavander);
    padding: 5px 15px;
    background: var(--cupcake);
    border-radius: 5px;
}
.full-screen .mega-menu a:hover{
    color: var(--twisted);
}
.full-screen .mega-menu a:focus,
.full-screen .mega-menu a.active{
    background: var(--twisted);
    color: var(--cupcake);
}
.full-screen .full-width-wrapper .content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    align-items: center;
    max-width: 1240px;
    max-height: fit-content;
    margin: 0 auto;
}
.full-screen .full-width-wrapper .content-wrapper .height-container{
    display: flex;
    background: var(--piggyLight);
    padding: 20px;
    border-radius: 15px;
    margin: 0 20px;
    max-width: 1000px;
}
.full-screen .height-container,
.full-screen .content-container{
    min-width: 100%;
}
/*********
SPECIFIC THEME ELEMENTS
**********/
.full-screen figure{
    overflow: hidden;
    border-radius: 5px;
    /*max-width: fit-content;*/
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 20px;
}
.full-screen .height-container img{
    width: 100%;
}
.full-screen .accordion{
    min-width: fit-content;
    transition: width 0.3s ease;
}
.full-screen .accordion-short,
.full-screen .accordion-more-info{
    background: var(--cupcake);
    padding: 20px;
}
.full-screen .accordion-short.minimize,
.full-screen .accordion-more-info.minimize{
    border-radius: 5px;
}
.full-screen .accordion-more-info.minimize{
    display: none;
}
.full-screen .accordion-short i{
    cursor: pointer;
    color: var(--twisted);
}
.full-screen .accordion-short.expand{
    border-radius: 5px 5px 0 0;
}
.full-screen .accordion-more-info.expand{
    display: flex;
    border-radius: 0 0 5px 5px;
}
.full-screen .full-width-wrapper#awards .height-container{
    overflow-y: scroll;
    max-height: 500px;
    margin: 0;
}
.full-screen .full-width-wrapper#awards .height-container iframe,
.full-screen .full-width-wrapper#awards .height-container img{
    box-shadow: 0 0 5px var(--cupcake);
    padding: 0;
    border-radius: 5px;
    display: block;
    margin: 0 auto 15px auto;
    max-width: 90%;
}

.fa-envelope:hover{
    color:  #ea4336;
}
.fa-linkedin:hover{
    color:  #0d67c2;
}
/*MOBILE*/
@media (max-width: 1275px) {
    .full-screen .content-wrapper{
        margin: 0 20px !important;
    }
}
@media (max-width: 1024px) {
    #toTop{
        right: 20px;
    }
}
@media (max-width: 900px){
    .mega-menu a{
        margin: 0 7px;
    }
    /*.full-screen .full-width-wrapper#about{*/
    /*    padding-top: 100px;*/
    /*}*/
}
@media (max-width: 835px) {
    body.full-screen{
        height: unset;
    }
    .full-screen .menu-wrapper{
        position: relative;
        background: var(--cupcake);
        /*margin-bottom: 50px;*/
    }
    .mega-menu{
        display: none;
    }
    .hamburger-menu-container{
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: max-height 0.5s ease, opacity 1s ease, visibility 1s linear 1s;
    }
    .hamburger-menu-container.open{
        max-height: 500px;
        opacity: 1;
        visibility: visible;
        transition: max-height 1s ease, opacity 1s ease, visibility 0s linear 0s;
        background: var(--cupcake);
    }
    .hamburger-toggle{
        text-decoration: none;
    }
    .hamburger-menu{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }
    .hamburger-menu a{
        text-decoration: none;
        padding: 5px 20px;
    }
    .fa-solid.fa-bars{
        display: inline-block;
        position: relative;
        left: 90%;
        padding: 20px 20px 20px 0;
        font-size: 1.5rem;
    }
    .menu-wrapper img{
        padding-top: 0;
        position: absolute;
        top: 7px;
        left: 4%
    }
    .full-screen .full-width-wrapper:not(#about){
        padding: 20px 0 150px 0;
    }
    .full-screen .full-width-wrapper#about{
        padding: 50px 0 150px 0;
    }
    .full-screen .full-width-wrapper#awards .content-wrapper:first-child{
        padding-top: unset;
        margin-bottom: unset;
    }
    .full-screen .scroll-container{
        padding: 0 20px;
    }
    .full-screen .full-width-wrapper#awards i.fa-chevron-right{
        position: relative;
        right: 10px;
    }
}
@media (max-width: 768px) {
    .full-screen #about figure{
        max-width: 50%;
        display: block;
        margin: 0 auto 20px auto;
    }
}
@media (max-width: 575px) {
    .full-screen .full-width-wrapper#awards .height-container{
        min-width: 75%;
    }
    .full-screen #work .accordion-short .text-end{
        text-align: left !important;
    }
    .full-screen #projects .col-xl-1{
        font-size: 12px !important;
    }
    .full-screen .full-width-wrapper#awards i.fa-chevron-right{
        position: relative;
        right: 30px;
    }
}